<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CellSrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79349C601E7A60A100EAE868</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79349C791E7A60A200EAE868</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79349C841E7A60A200EAE868</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
